/*table tr  :hover{

font: 120% sans-serif;
    background-color: black;
    font-family: "Adobe Gothic Std B"; 
   
}*/

body {font-family: Arial; color: black;}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

 a {

	margin-right: 3px;
}